button {
  border: 1px solid #00000088;
  margin: 0 auto;
}

#comments {
  background-color: #ffffff;
  border-radius: 0.25rem;
  padding: 1dvh 1vw;
}

#comments form {
  display: grid;
}

#comments input {
  max-width: 800px;
  width: max(200px, 70vw);
}

#comments p {
  border-top: 1px solid #00000088;
}

footer,
header {
  background-color: #65e09288;
  margin: 0;
  padding: 0.25rem 1rem;
}

form {
  display: grid;
  gap: 1rem;
  justify-content: center;
}

header {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

header > div {
  display: flex;
  gap: 1vw;
}

input,
textarea {
  border: 1px solid #000000;
  border-radius: 0.25rem;
  padding: 0.25rem;
  resize: none;
}

label {
  display: grid;
  justify-content: start;
  justify-items: start;
  gap: 0.1rem;
}

main,
nav {
  background-color: #f0fbf4;
  align-content: start;
  align-items: start;
  display: grid;
  overflow: scroll;
  padding: 1dvh 1vw;
}

nav {
  justify-items: stretch;
}

nav h2 {
  margin: 0.25rem 0;
  padding: 0;
}

nav li {
  background-color: #f0fbf4;
  padding: 0.25rem 0;
}

nav ul {
  background-color: #547f64;
  display: grid;
  gap: 1px;
  list-style-type: none;
  margin: 0;
  padding: 1px 0;
}

#root {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0;
  text-align: center;
  width: 100vw;
}

#root > div {
  align-content: stretch;
  align-items: stretch;
  background-color: #547f64;
  display: grid;
  flex-grow: 1;
  gap: 0.1rem;
  grid-template-columns: 1fr 4fr;
  min-width: 95vw;
}

#root #errorPage {
  align-content: center;
  align-items: center;
  background-color: #ff9595;
  grid-template-columns: 1fr;
}

textarea {
  flex-grow: 1;
  min-height: 10vh;
  width: max(250px, 50vw);
}
